  /* Your CSS code here */
  body {
    background-color: #00b3e6;
  }

  div {
    font-family: Helvetica Neue;
    width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
  }

  #main-header {
    color: red;
    font-size: 22px;
  }

  .perspective-questions {
    font-style: italic;
  }
